<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EmployeeExamples.Properties.Settings.EmployeeConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Employee;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>